/\.deps/
/openpa/
/autom4te\.cache/
*~
\.lockfile
\.tipsy_history
/pkdgrav3_null-*\.o
/pkdgrav3_pthread-*\.o
/pkdgrav3_mpi-*\.o
/pkdgrav3_null
/pkdgrav3_pthread
/pkdgrav3_mpi
/tostd
/tostd.o
/fio.o
/romberg.o
/COPYING
/INSTALL
/Makefile
/Makefile\.in
/aclocal\.m4
/config\.h
/config\.h\.in
/config\.log
/config\.status
/config\.guess
/config\.sub
/autoscan\.log
/configure\.scan
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/pkdgrav3-*.tar.gz
/windows*/x64/*
/windows*/*\.filters
/windows*/*\.user
/windows*/*\.filters
